<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <!-- web.xml才显示   小名-->
  	 <servlet-name>HelloWorld</servlet-name>
  	 <!-- HelloWorldServlet 所在的路径 -->
  	 <servlet-class>com.aaa.servlet.HelloWorldServlet</servlet-class>
  	 
  </servlet>
  <servlet-mapping>
  		<!--小名 与上面的小名 必须保持一致-->
  		<servlet-name>HelloWorld</servlet-name>
  		<!-- 大名  url访问地址-->
  		<url-pattern>/helloWorld</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <!-- web.xml才显示   小名-->
  	 <servlet-name>AddStudent</servlet-name>
  	 <!-- HelloWorldServlet 所在的路径 -->
  	 <servlet-class>com.aaa.servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<!--小名 与上面的小名 必须保持一致-->
  		<servlet-name>AddStudent</servlet-name>
  		<!-- 大名  url访问地址-->
  		<url-pattern>/addStudent</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <!-- web.xml才显示   小名-->
  	 <servlet-name>ShowStudent</servlet-name>
  	 <!-- HelloWorldServlet 所在的路径 -->
  	 <servlet-class>com.aaa.servlet.ShowStudentServlet</servlet-class>
  	 <init-param>
  	 	<param-name>DRIVER_NAME</param-name>
  	 	<param-value>com.mysql.jdbc.Driver</param-value>
  	 </init-param>
  	 <init-param>
  	 	<param-name>DATABASE_URL</param-name>
  	 	<param-value>jdbc:mysql://localhost:3306/mytestdb</param-value>
  	 </init-param>
  </servlet>
  <servlet-mapping>
  		<!--小名 与上面的小名 必须保持一致-->
  		<servlet-name>ShowStudent</servlet-name>
  		<!-- 大名  url访问地址-->
  		<url-pattern>/showStudent</url-pattern>
  </servlet-mapping>
</web-app>
